<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Next</title>
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>" />
    </head>
    <body>
        <header class="header" id="header">
            <div class="container">
                <nav class="nav menu">
                    <a href="#" class="logo jpk-font">
                        BS
                    </a>
                    <a href="#" class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </nav>
                <a class="bookmark jpk-font">
                    b r a a a h
                </a>
                <div class="hero">
                    <div class="hero__left">
                        <div class="hero__left__motto jpk-font">worth</div>
                        <div class="hero__left__slogan">
                            <h1>
                                we create<br />
                                the bright future
                            </h1>
                        </div>
                        <div class="hero__left__description">
                            You can order the best website you`ve ever seen. Seriously.
                        </div>
                        <button class="hero__left__contact_button button">contact us</button>
                    </div>
                    <div class="hero__right jpk-font">
                        n<span>e</span> xt
                    </div>
                </div>
                <a href="#" class="scrolldown jpk-font">
                    scroll down
                </a>
            </div>
        </header>
        <section class="services_section" id="services_section">
            <div class="container"></div>
        </section>
        <footer class="footer" id="footer">
            <div class="container"></div>
        </footer>
        <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
    </body>
</html>
